@import 'nib'
global-reset()

html, body
  width 100%
  height 100%

a
  cursor pointer

body

  color black
  font-size 12px
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  & > header
    clearfix()
    overflow hidden
    *zoom 1
    background #333
    padding 6px 0
    border-bottom 1px solid #333333
    h1
      float left
      margin-left 6px
      padding 6px
      padding-left 10px
      font-size 18px
      position relative
      top 2px
      a
        color white
        text-decoration none
        transition 0.1s ease
        &:hover
          color #4183c4
    nav
      &.project
        float left
      &.app
        float right
      li
        display block
        float left
        margin-right 10px
        input
          margin 6px
        a
          display block
          padding 10px 20px

.button
  background #008cba
  text-decoration none
  color white
  text-decoration none
  transition: background-color 300ms ease-out;

.button:hover, .button:focus
  background-color: #2285a2;

.button:active, .button.active
  border-color #666666
  border-bottom-color #999999
  background linear-gradient(#dddddd, #eeeeee)
  color #333333
  text-decoration none
  text-shadow -1px -1px 0 #eeeeee

table
  background white
  margin-bottom 0
  width 100%

table thead,
  table tfoot
  background whitesmoke

table thead tr th,
    table thead tr td,
    table tfoot tr th,
    table tfoot tr td
  padding 10px
  font-size 14px
  font-weight bold
  color #222222
  text-align left

table tr th,
  table tr td
  padding 8px 10px
  font-size 14px
  color #222222

table tr.even, table tr.alt, table tr:nth-of-type(even)
  background #f9f9f9

table thead tr th,
  table tfoot tr th,
  table tbody tr td,
  table tr td,
  table tfoot tr td
  display table-cell
  line-height 1.125rem

.guide-table
  [class^="icon-"]
    font-size 18px
  tr.short
    background #EBEFF1
    td
      font-weight bold
  tr td
    text-align center
  tr td:first-child
    text-align left

#messages
  width 100%
  height 10em
  min-height 3em
  overflow auto
  background white
  table
    clearfix()
    overflow hidden
    *zoom 1
    width 100%
    thead
      tr th
        padding 0.25em 10px
    tbody
      tr
        cursor pointer
        transition 0.1s ease
        &:hover
          color black
        &.selected
          background Highlight
          color HighlightText
        td
          padding 0.25em 10px

#message
  & > header
    position relative
    padding-top 5px
    clearfix()
    overflow hidden
    background #333
    *zoom 1
    color white
    .metadata
      clearfix()
      overflow hidden
      *zoom 1
      padding 0.5em
      padding-top 0
      margin-right 300px
      dt
        float left
        clear left
        width 8em
        margin-right 0.5em
        text-align right
        font-weight bold
      dd
        &.subject
          font-weight bold
      .attachments
        display none
        ul
          display inline
          li
            display inline-block
            vertical-align middle
            margin-right 0.5em
    .views
      .download
        padding 10px 20px
        margin 7px 15px
        float right
      ul
        position absolute
        bottom 0
        right 15px
      .tab
        display inline-block
        vertical-align middle
        a
          display inline-block
          vertical-align middle
          padding 8px 14px
          background white
          color #222
          cursor pointer
          text-decoration none
        &:not(.selected):hover
          a
            background-color #eeeeee
        &.selected
          a
            background #efefef
            color black
            cursor default

#message > header .metadata dt, #message > header .metadata dd
  padding 0.25em

iframe
  width 100%

.plain-text
  padding 25px
  font-size 16px;

.icon-ok-circled
  color #AFDA00

.icon-cancel-circled
  color #E30500

.icon-info-circled
  color #68C5EA