@import 'nib'
global-reset()

html, body
  width 100%
  height 100%

a
  cursor pointer

body
  background #eeeeee
  color black
  font-size 12px
  font-family Helvetica, sans-serif
  &.iframe
    background #fff
  & > header
    clearfix()
    overflow hidden
    *zoom 1
    border-bottom 1px solid #cccccc
    h1
      float left
      margin-left 6px
      padding 6px
      padding-left 10px
      font-size 18px
      font-weight bold
      a
        color black
        text-decoration none
        text-shadow 0 1px 0 white
        transition 0.1s ease
        &:hover
          color #4183c4
    nav
      border-left 1px solid #cccccc
      &.project
        float left
      &.app
        float right
      li
        display block
        float left
        border-left 1px solid white
        border-right 1px solid #cccccc
        input
          margin 6px
        a
          display block
          padding 10px
          text-decoration none
          text-shadow 0 1px 0 white
          background linear-gradient(#f4f4f4, #ececec)
          color #666666
          text-shadow 1px 1px 0 white
          text-decoration none

.button
  padding 0.5em 1em
  border 1px solid #cccccc
  border-radius 2px
  background linear-gradient(#f4f4f4, #ececec)
  color #666666
  text-shadow 1px 1px 0 white
  text-decoration none

.button:hover, .button:focus
  border-color #999999
  border-bottom-color #666666
  background linear-gradient(#eeeeee, #dddddd)
  color #333333
  text-decoration none

.button:active, .button.active
  border-color #666666
  border-bottom-color #999999
  background linear-gradient(#dddddd, #eeeeee)
  color #333333
  text-decoration none
  text-shadow -1px -1px 0 #eeeeee

body > header nav li a:hover, body > header nav li a:focus
  background linear-gradient(#eeeeee, #dddddd)
  color #333333
  text-decoration none

body > header nav li a:active, body > header nav li a.active
  background linear-gradient(#dddddd, #eeeeee)
  color #333333
  text-decoration none
  text-shadow -1px -1px 0 #eeeeee

#messages
  width 100%
  height 10em
  min-height 3em
  overflow auto
  background white
  border-top 1px solid white
  table
    clearfix()
    overflow hidden
    *zoom 1
    width 100%
    thead
      tr
        background #eeeeee
        color #333333
        th
          padding 0.25em
          font-weight bold
          color #666666
          text-shadow 0 1px 0 white
    tbody
      tr
        cursor pointer
        transition 0.1s ease
        color #333333
        &:hover
          color black
        &:nth-child(even)
          background #f0f0f0
        &.selected
          background Highlight
          color HighlightText
        td
          padding 0.25em
          &.blank
            color #666666
            font-style italic

#resizer
  padding-bottom 5px
  cursor ns-resize
  .ruler
    border-top 1px solid #cccccc
    border-bottom 1px solid white

#message
  & > header
    clearfix()
    overflow hidden
    *zoom 1
    .metadata
      clearfix()
      overflow hidden
      *zoom 1
      padding 0.5em
      padding-top 0
      dt
        float left
        clear left
        width 8em
        margin-right 0.5em
        text-align right
        font-weight bold
        color #666666
        text-shadow 0 1px 0 white
      dd
        &.subject
          font-weight bold
      .attachments
        display none
        ul
          display inline
          li
            display inline-block
            vertical-align middle
            margin-right 0.5em
    .views
      ul
        clearfix()
        padding 0 0.5em
        border-bottom 1px solid #cccccc
      .tab
        height: 25px
        display inline-block
        vertical-align middle
        a
          display inline-block
          vertical-align middle
          padding 0.5em
          border 1px solid #cccccc
          background #dddddd
          color #333333
          border-width 1px 1px 0 1px
          cursor pointer
          text-shadow 0 1px 0 #eeeeee
          text-decoration none
        &:not(.selected):hover
          a
            background-color #eeeeee
        &.selected
          a
            background white
            color black
            -webkit-box-shadow 1px 1px 0 #cccccc
            -moz-box-shadow 1px 1px 0 #cccccc
            box-shadow 1px 1px 0 #cccccc
            margin-bottom -2px
            cursor default
      .action
        display inline-block
        vertical-align middle
        float right
        margin 0 0.25em

#message > header .metadata dt, #message > header .metadata dd
  padding 0.25em

