.container-fluid
  .navbar-header
    a.navbar-brand(href='/') CatchMe
  .navbar-collapse.collapse
    ul.nav.navbar-nav.navbar-right
      li
        a(ng-click='remove()') Clear
      li
        a(ng-click='quit()') Quit